In [1]:
import pandas as pd
import numpy as np

import wrds

import os
from dotenv import load_dotenv
load_dotenv();

from mylib.load_from_wrds import query_options, query_stock, query_dividend, query_zero_curve
from mylib.rates_tools import create_yield_curve, merge_interest

%load_ext autoreload
%autoreload 2

/home/ygnmax/anaconda3/lib/python3.9/site-packages/scipy/__init__.py:146: UserWarning: A NumPy version >=1.16.5 and <1.23.0 is required for this version of SciPy (detected version 1.26.1
  warnings.warn(f"A NumPy version >={np_minversion} and <{np_maxversion}"

In [2]:
secid = 113993
name = "Game Stop"
ticker = "GME"

startdate = '2019-01-01'
enddate = '2022-12-31'

In [ ]:
%%time

db = wrds.Connection(wrds_username=os.getenv('WRDS_USER'))

df_option = query_options(db, secid, startdate=startdate, enddate=enddate)
df_stock = query_stock(db, secid, startdate=startdate, enddate=enddate)
df_dividend = query_dividend(db, secid, startdate=startdate, enddate=enddate)
zero_curve = query_zero_curve(db, startdate=startdate, enddate=enddate)

db.close()

In [4]:
%%time

df_rate = create_yield_curve(zero_curve, max_days=1500) 
df_rate

CPU times: user 5.88 s, sys: 4.18 ms, total: 5.89 s
Wall time: 5.88 s

         days         r       date
0           1  0.024478 2019-01-02
1           2  0.024478 2019-01-02
2           3  0.024478 2019-01-02
3           4  0.024478 2019-01-02
4           5  0.024478 2019-01-02
...       ...       ...        ...
1516027  1500       NaN 2022-12-30
1516028  1501       NaN 2022-12-30
1516029  1502       NaN 2022-12-30
1516030  1503       NaN 2022-12-30
1516031  1504       NaN 2022-12-30

[1516032 rows x 3 columns]

In [7]:
df = merge_interest(df_option, df_rate)
df = df.merge(df_stock, how='inner', on=['date', 'secid'])
df['M0'] = df['close'] / df['K']

df.head(30)

,secid_x,date,exdate,cp_flag,impl_volatility,delta,volume,open_interest,tau_days,tau,K,V0,short_rate,r,secid_y,close,cfret,adjClose,M0
0,113993.0,2019-01-02,2019-01-04,C,NaN,NaN,0.0,0.0,2,0.005556,7.0,6.025,0.024478,0.024478,113993.0,13.07,2.877128,3.157909,1.867143
1,113993.0,2019-01-02,2019-01-04,C,NaN,NaN,0.0,0.0,2,0.005556,7.5,5.875,0.024478,0.024478,113993.0,13.07,2.877128,3.157909,1.742667
2,113993.0,2019-01-02,2019-01-04,C,NaN,NaN,0.0,0.0,2,0.005556,8.0,4.885,0.024478,0.024478,113993.0,13.07,2.877128,3.157909,1.633750
3,113993.0,2019-01-02,2019-01-04,C,NaN,NaN,0.0,0.0,2,0.005556,8.5,4.305,0.024478,0.024478,113993.0,13.07,2.877128,3.157909,1.537647
4,113993.0,2019-01-02,2019-01-04,C,NaN,NaN,0.0,0.0,2,0.005556,9.0,3.305,0.024478,0.024478,113993.0,13.07,2.877128,3.157909,1.452222
5,113993.0,2019-01-02,2019-01-04,C,NaN,NaN,0.0,0.0,2,0.005556,9.5,3.015,0.024478,0.024478,113993.0,13.07,2.877128,3.157909,1.375789
6,113993.0,2019-01-02,2019-01-04,C,2.863539,0.914587,0.0,3.0,2,0.005556,10.0,3.190,0.024478,0.024478,113993.0,13.07,2.877128,3.157909,1.307000
7,113993.0,2019-01-02,2019-01-04,C,NaN,NaN,0.0,0.0,2,0.005556,10.5,2.335,0.024478,0.024478,113993.0,13.07,2.877128,3.157909,1.244762
8,113993.0,2019-01-02,2019-01-04,C,NaN,NaN,0.0,0.0,2,0.005556,11.0,1.885,0.024478,0.024478,113993.0,13.07,2.877128,3.157909,1.188182
9,113993.0,2019-01-02,2019-01-04,C,NaN,NaN,2.0,5.0,2,0.005556,11.5,1.075,0.024478,0.024478,113993.0,13.07,2.877128,3.157909,1.136522
10,113993.0,2019-01-02,2019-01-04,C,NaN,NaN,14.0,136.0,2,0.005556,12.0,1.055,0.024478,0.024478,113993.0,13.07,2.877128,3.157909,1.089167
11,113993.0,2019-01-02,2019-01-04,C,1.062611,0.728298,15.0,682.0,2,0.005556,12.5,0.750,0.024478,0.024478,113993.0,13.07,2.877128,3.157909,1.045600
12,113993.0,2019-01-02,2019-01-04,C,0.577548,0.559642,214.0,1144.0,2,0.005556,13.0,0.260,0.024478,0.024478,113993.0,13.07,2.877128,3.157909,1.005385
13,113993.0,2019-01-02,2019-01-04,C,0.510890,0.202368,257.0,71.0,2,0.005556,13.5,0.055,0.024478,0.024478,113993.0,13.07,2.877128,3.157909,0.968148
14,113993.0,2019-01-02,2019-01-04,C,0.805444,0.131231,5.0,6.0,2,0.005556,14.0,0.050,0.024478,0.024478,113993.0,13.07,2.877128,3.157909,0.933571
15,113993.0,2019-01-02,2019-01-04,C,0.984845,0.082892,0.0,17.0,2,0.005556,14.5,0.035,0.024478,0.024478,113993.0,13.07,2.877128,3.157909,0.901379
16,113993.0,2019-01-02,2019-01-04,C,1.711838,0.153324,0.0,10.0,2,0.005556,15.0,0.125,0.024478,0.024478,113993.0,13.07,2.877128,3.157909,0.871333
17,113993.0,2019-01-02,2019-01-04,C,1.974901,0.137382,0.0,44.0,2,0.005556,15.5,0.125,0.024478,0.024478,113993.0,13.07,2.877128,3.157909,0.843226
18,113993.0,2019-01-02,2019-01-04,C,2.219846,0.125547,0.0,5.0,2,0.005556,16.0,0.125,0.024478,0.024478,113993.0,13.07,2.877128,3.157909,0.816875
19,113993.0,2019-01-02,2019-01-04,C,2.281742,0.097770,0.0,3.0,2,0.005556,16.5,0.095,0.024478,0.024478,113993.0,13.07,2.877128,3.157909,0.792121
20,113993.0,2019-01-02,2019-01-04,C,2.321312,0.074473,0.0,20.0,2,0.005556,17.0,0.070,0.024478,0.024478,113993.0,13.07,2.877128,3.157909,0.768824
21,113993.0,2019-01-02,2019-01-04,C,2.873392,0.102907,0.0,0.0,2,0.005556,17.5,0.125,0.024478,0.024478,113993.0,13.07,2.877128,3.157909,0.746857
22,113993.0,2019-01-02,2019-01-04,C,NaN,NaN,0.0,2.0,2,0.005556,18.5,0.125,0.024478,0.024478,113993.0,13.07,2.877128,3.157909,0.706486
23,113993.0,2019-01-02,2019-01-04,C,NaN,NaN,0.0,0.0,2,0.005556,19.0,0.125,0.024478,0.024478,113993.0,13.07,2.877128,3.157909,0.687895
24,113993.0,2019-01-02,2019-01-04,C,NaN,NaN,0.0,0.0,2,0.005556,19.5,0.125,0.024478,0.024478,113993.0,13.07,2.877128,3.157909,0.670256
25,113993.0,2019-01-02,2019-01-04,C,NaN,NaN,0.0,0.0,2,0.005556,20.0,0.125,0.024478,0.024478,113993.0,13.07,2.877128,3.157909,0.653500
26,113993.0,2019-01-02,2019-01-04,C,NaN,NaN,0.0,0.0,2,0.005556,25.0,0.125,0.024478,0.024478,113993.0,13.07,2.877128,3.157909,0.522800
27,113993.0,2019-01-02,2019-01-04,P,NaN,NaN,0.0,0.0,2,0.005556,7.0,0.125,0.024478,0.024478,113993.0,13.07,2.877128,3.157909,1.867143
28,113993.0,2019-01-02,2019-01-04,P,NaN,NaN,0.0,0.0,2,0.005556,7.5,0.125,0.024478,0.024478,113993.0,13.07,2.877128,3.157909,1.742667
29,113993.0,2019-01-02,2019-01-04,P,NaN,NaN,0.0,0.0,2,0.005556,8.0,0.015,0.024478,0.024478,113993.0,13.07,2.877128,3.157909,1.633750